.vscode/**
.vscode-test/**
src/**
test/**
dist/src/**
dist/test/**
node_modules/**
.eslintrc.json
.mocharc.yml
tsconfig.json
tsconfig.webview.json
tsconfig.test.json
esbuild.js
eslint.config.mjs
*.code-workspace
**/*.ts
**/*.map
.gitignore
.claude/**
